<%# Write your code here! %>
Welcome!
<form class="" action="/greet" method="post">
  <p>name<input type="text" name="user_name" value=""></p>
  <p>Submit<input type="submit" name="" value="Submit"></p>
</form>
